<style type="text/css">
    .tg  {border:"0"}
    .tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;overflow:hidden;word-break:normal;}
    .tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;overflow:hidden;word-break:normal;}
    .tg .tg-Loc{font-size:22px;font-family:Arial, Helvetica, sans-serif;text-align:left;vertical-align:top}
    .tg .tg-a5zs{font-size:22px;font-family:Arial, Helvetica, sans-serif;text-align:center;vertical-align:top}
    .tg .tg-73oq{text-align:left;vertical-align:top}
    </style>
   
   <br><H2>Offices</H2>

   <table width="50%" class="tg">

      <tr>
        <td class="tg-73oq" colspan="2"></td>
      </tr>
      <tr>
        <td class="tg-Loc">Jersey City, NJ</td>
        <td class="tg-a5zs">(917) 727-8605</td>
      </tr>
      <tr>
        <td class="tg-Loc">New Providence, NJ</td>
        <td class="tg-a5zs">(917) 830-8147</td>
      </tr>
      <tr>
        <td class="tg-Loc">Medellin, Colombia, S.A.</td>
        <td class="tg-a5zs">+57 (300) 893-7782</td>
      </tr>
    </table>
<br><br><br>

<H3>Send us a message!</H3>

<form text-align="center" action=”mailto:blockchainbpi@gmail.com” method=”POST”>
    Name:<br>
    <input type=”text” size=”30″ name=”VisitorName”><br><br>
    Phone Number:<br>
    <input type=”text” size=”30″ name=”VisitorPhone”><br><br>
    Email:<br>
    <input type=”text” size=”40″ name=”VisitorEmail”><br><br>
    Message:<br> 
    <textarea name="VisitorComment" rows=”10″ cols=”200″></textarea>
    <br><br> <input type="submit" value="Send"> 
</form>