<H1>Decentralized Cloud Based P2P Software Consulting and Products</H1>

<H2>We developed a secured infrastructure for owning and sharing your data through encryption and smart contracts without having to manage the required infrastructure.</H2>
<H3>
    <ul>
        <li>Cloud Security</li>
        <li>Distributed Filesystem</li>
        <li>Content Addressable Storage</li>
        <li>Performant Rest and Socket APIs</li>
        <li>Wallet based accounts</li>
        <li>Decentralized DApps</li>
        <li>Fault Tolerant Sharded DAGs</li>
        <li>Fully Customizable Decentralized Document Sharing and/or Streaming Content</li>
        <li>Blockchain/Smart Contracts</li>
        <li>Inter Planetary File System IPFS</li>
        <li>Business Process Integration BPI</li>
    </ul>
</H3>
