<H1>Inter Planetary File System</H1>
<H2>We developed a secure infrastructure for owning and sharing your data through encryption and smart contracts without having to manage the infrastructure required.</H2>
<H2>Distributed secured cloud based peer to peer software development services and products.</H2>
<H3>
    <li>Cloud Security</li>
    <li>Performance Rest API</li>
    <li>Wallet based accounts</li>
    <li>Decentralized DApps</li>
    <li>Shared Permissioned Ledger</li>
    <li>Fully Customizable Decentralized Document Sharing and/or Streaming Content</li>
</H3>
