<H1>Decentralized Cloud Based Infrastructure Partnership for Modern day Business Process Integration</H1>
<H2>We developed a secure infrastructure for owning and sharing your data through encryption and smart contracts without having to manage the required infrastructure.</H2>
<H2>Distributed secured cloud based peer to peer software development services and products.</H2>
<H3>
    <ul>
        <li>Cloud Security</li>
        <li>Distributed Filesystem</li>
        <li>Content Addressable Storage</li>
        <li>Performance Rest API</li>
        <li>Wallet based accounts</li>
        <li>Decentralized DApps</li>
        <li>Shared Permissioned Ledger</li>
        <li>Fully Customizable Decentralized Document Sharing and/or Streaming Content</li>
        <li>Blockchain/Smart Contracts</li>
        <li>Inter Planetary File System</li>
    </ul>
</H3>

<H2>
        As Software Engineers working within the Industrial Engineering, Financial and Blockchain Industries, we've stumbled upon a methodology to manage any business in a secure and decentralized manner.  
        And at a fraction of the cost and complexity.
        <br><br>
        Today, maintaining an IT department and the hardware, database and software packages that go along with it can take up much time, cost and effort.
        <br><br>            
        With the recent Blockchain technologies we’ve heard a lot about the advantages of sharing ledgers and I’ve been on several interesting projects within the Financial Sector (Investment Banking).  
        More recently, however, there is a much more interesting aspect to this by merging a technology known as IPFS (Inter Planetary File System) in conjunction with Blockchain essentially allowing 
        for the hosting of files and streaming media in a manner that requires no central server or database and uses encryption for permissioning access.
        <br><br>    
        We’ve created a software Node to manage the hosting of digitized data in an encrypted and distributed (p2p) manner amongst other participants by sharding files across a mesh of nodes which can be 
        easily hosted on the cloud (ie. AWS, Azure…).  
        <br><br>    
        Furthermore, we also heard about Decentralized Apps (DApps), well, the user interface or front-end is always hosted on a particular IP.
        We are also decentralizing the DApps by using this same system.  You don’t even necessarily require a webserver or even a computer.
        <br><br>
        This system runs using C and Linux for performance and leanness and uses the latest Javascript technologies and whitelabeling exposing this incredibly resilient in a professional and 
        aesthetically pleasing facade.  We can either host a node for you or we can help you setup a cloud under your control.
        <br><br>
        Files or streams are also encrypted in order to share with a desired group of users.  In essence, you own your data and who has access to it.  Permissions can be finely tuned.  
        Blockchain Smart Contracts act a Directory service managing IPFS file or stream references to content.
</H2>        
