<meta name="identifier-url" content="http://www.blockchainbpi.com/" />
<meta name="title" content="Blockchain BPI" />
<meta name="description" content="Blockchain/IPFS Business Process Integration" />
<meta name="abstract" content="Blockchain/IPFS Business Process Integration" />
<meta name="keywords" content="Blockchain, IPFS, IPLD, BPI, Secured Cloud, Cloud, Document Sharing, Shared Ledger" />
<meta name="author" content="Blockchain BPI" />
<meta name="revisit-after" content="15" />
<meta name="language" content="EN" />
<meta name="copyright" content="© 2019 BlockchainBPI.com" />
<meta name="robots" content="All" />
<H1>Blockchain Business Process Integrators</H1>
<app-menu></app-menu><router-outlet></router-outlet>