<meta name="identifier-url" content="http://www.blockchainbpi.com/" />
<meta name="title" content="Blockchain BPI" />
<meta name="description" content="Blockchain/IPFS Business Process Integrtaions.  Ethereum, Bitcoin and ICO Wallet Management Custom Software" />
<meta name="abstract" content="Blockchain/IPFS Business Process Integration" />
<meta name="keywords" content="Blockchain, IPFS, IPLD, BPI, Secured Cloud, Cloud, Document Sharing, Shared Ledger" />
<meta name="author" content="Blockchain BPI" />
<meta name="revisit-after" content="15" />
<meta name="language" content="EN" />
<meta name="copyright" content="© 2019 BlockchainBPI.com" />
<meta name="robots" content="All" />

<meta name="description" content="Blockchain Business Process Integration - Cloud Security - IPFS and Smart Contract for securely managing cloud data and workflow. Consulting services: P2P, Smart Contract, Solidity, EVM, Ethereum, Bitcoin and ICO Wallet Integrations, IPLD, Rest & Socket APIs">
<meta name="keywords" content="Blockchain,IPFS,BPI,Smart Contract,smart contracts,swarm,ipld,react,angular,dapp,ledger,decentrliazed,Solidty,geth,ECM,ecm-c,ETH,ethereum,BTC,Bitcoin,ico,Cloud,Encryption,sha256,sha-256,Cloud Security,p2p,consulting,software consulting,business process reengineering, business process integeration">
<meta name="author" content="BlockchainBPI">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<H1>Blockchain Business Process Integrators</H1>
<app-menu></app-menu><router-outlet></router-outlet>