<H1>Blockchain plus IPFS Secured Peer to Peer, Decentralized and Shared Document Management System Using Encryption</H1>
<H2>Crypt Reserve File Management System Node</H2>

<H2>Advantages of a Secured, Shared, Decentralized BlockchainBPI Node</H2>
<br>
<H3>What are the advantages of a secured, shared, decentralized BlockchainBPI Node vs. private centralized cloud services offered by Amazon AWS and Azure?
<br>
<ul>
    <li>Decentralized data means more security and privacy. Decentralized cloud BlockchainBPI Node storage is more difficult to attack than traditional centralized data. On a decentralized network, files are broken apart and spread across multiple nodes, in a process called sharding. These files are encrypted with a private key which makes it impossible for any other node participating in the network to look at your file. Plus, due to sharding, the files are just a fraction of their original self, which means reading their entire content impossible.</li>
    <br>
    <li>Sia and Storj have launched their own cryptocurrencies (Siacoin, Storjcoin) in order to incentivize usage and to create a market for buying and selling decentralized storage.</li>
    <br>
    <li>File loss is prevented through redundancy in data. Extra copies are stored in case of an error when transmitting data.</li>
    <br>
    <li>Cost reduction due to more efficiency. Blockchain storage costs can reduce the price of cloud computing between 50% -100%.</li>
    </ul>
</H3>
