<H1>Blockchain plus IPFS Secured Peer to Peer, Decentralized and Shared Document Management System Using Encryption</H1>
<H2>Crypt Reserve File Management System Node</H2>

<H2>Securely Manged, Fault Tolerant, P2P, Decentralized Network</H2>
<br>
<H3>Why BlockchainBPI Node for private centralized cloud services like Amazon AWS and Azure?
    <br>
    <ul>
        <li>BlockchainBPI Node manages your cloud storage by sharding DAGs (Merkle Trees) across the multiple nodes of the BlockchaiBPI node-cluster.  A Merkle Forest represents encrypted, sharded DAGs of files just a fraction of their original size, hosted in Fault Tolerant, Securley managed, P2P network.</li>
        <br>
        <li>BlockchainBPI Incetivizes hosting these encrypted DAGs using smart contracts and the network or P2P Nodes.</li>
        <br>
        <li>Files can be strategically hosted by choosing location, uptime and cost.  Smart contracts manage the billing by maintaining balances in wallets.</li>
        <br>
        <li>Cost reduction due to more efficiency. Blockchain storage costs can reduce the price of cloud computing between 50% -100%.</li>
    </ul>
</H3>
<p align="center"><iframe style="border: 1; width:80%; height: 710px; overflow: auto; text-align:center;" src="assets/img/BlockchainBPINode.jpg">Blockchain BPI Node</iframe>
</p>
