<H1>Services</H1>
<H3>
    <ul>
        <li>Application Development using Blockchain and IPFS</li>
        <li>Wallet SDK Automation</li>
        <li>Solidity Smart Contract Development</li>
        <li>Rest API Development</li>
        <li>Consulting</li>
        <li>POC</li>
        <li>Staff Augmentation</li>
        <li>Cloud Security and Document Storage</li>
        <li>Multi Sig Encryption</li>
        <li>ERC20 Ethereum Smart Contract White Listing and Indexing</li>
        <li>Decentralized Permissioned Data AND DApp</li>
    </ul>

</H3>